extend ../layout

block append head 

block content
  ul.configurationMenu
    li.button
      a(href="configuration/zombies/zombieList") Zombies
    li.button
      a(href="configuration/tasks/taskList") Tasks
    li.button
      a(href="configuration/factories/factoryList") Factories
    li.button
      a(href="configuration/assemblies/assemblyList") Assemblies